{% extends "layout.njk" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Portfolio - Renato Knauer</title>
{% endblock %}

{% block content %}

    <div id="page-container">
        <div id="wrapper" class="content-wrap">
            <h1>Classes</h1>
        </div>

        <section class="cards">
            
            {% for item in data.items %}
                <div class="card" id="{{item.id}}">
                    <div class="card__image-container {{ 'featured-wrapper' if item.featured }}">
                        <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Image of {{item.title}}">
                        {% if item.featured %}
                            <div class="featured">Featured</div>
                        {% endif %}
                    </div>
                    <div class="card__content">
                        <p>{{item.title}}</p>
                        
                    </div>
                    <div class="card__info">
                        <p>{{item.duration}}</p>
                        <p class="card__price">{{item.price}}</p>
                    </div>
                </div>
            {% endfor %}
        </section>

        <footer id="links-footer" class="links">
            {% for link in data.footer.links %}
                <a target="_blank" href="{{link.url}}">{{link.name}}</a>
            {% endfor %}
        </footer>
    </div>

    <script src="/script.js"></script>

{% endblock %}