{% extends "layout.njk" %}
{% block head %}
    <title>{{data.item.title}}</title>
{% endblock %}

    {% block content %}
        
        <div id="wrapper" class="content-wrap video">
            <h1>{{data.item.title}}</h1>
        </div>

        <section class="video">
            <div class="card" id="{{ data.item.id }}">
                <div class="card__video-container">
                    <iframe src="https://www.youtube.com/embed/{{ data.item.id }}" frameborder="0"></iframe>
                </div>
                <div class="card__content">
                    <p>{{ data.item.title }}</p>
                </div>
                <div class="card__info">
                    <p>{{ data.item.duration }}</p>
                    <p class="card__price">{{ data.item.price }}</p>
                </div>
            </div>
        </section>
        <div id="page-container">
            <footer id="links-footer" class="links">
                {% for link in data.footer.links %}
                    <a target="_blank" href="{{link.url}}">{{link.name}}</a>
                {% endfor %}
            </footer>
        </div>
    {% endblock %}