@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #7159c1;
    --secondary-color: #f7df1e;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color);
}

.links a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -4px;
    left: 0;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms cubic-bezier(1, 0.2, 0.65, 0.89);
}

/*=== CARD ===*/

.card {
    background-color: white;
    margin: 45px auto;
    width: 800px;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.4);
    animation: up 200ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

.card .avatar {
    background: url('https://source.unsplash.com/collection/3465564/500x500') no-repeat center center / cover; /* forward slash necessary to separate size from position values */
}

/*=== CARD DETAILS ===*/

.card .details {
    padding: 32px;
}

.card .details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.card .details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.card .details .item:last-child {
    border: none;
}

.details h3,
.card .details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.card .details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.card .details .item div:nth-child(2) span {
    background-color: var(--secondary-color);
    padding: 8px 16px;
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    display: inline-block; /* span is "display: inline", so it wouldn't accept de "margin-top" below */
    margin-top: 8px;
    /* font-weight: bold; it's carrying the inherited property from its modifier parent*/
    text-transform: uppercase;
    font-size: 12px;
}